
body{

  display: flex;
  
  justify-content: center;
  
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.container{
display: flex;

gap: 30px;
background-color: rgb(179, 179, 178);
padding: 50px 22px;
      }
     
  .undraw img{
    height: 230px;
    width: 230px;
  }
  #left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
  }
  .link{
    display:flex ;
    flex-direction: row;
    /* object-fit: cover; */
    gap: 30px;
    align-items: center;
  }
  .link a{
    font-size: 19px;
  }
  .icons svg{
margin:6px;
  }
  
  #right{
    display: flex;
    flex-direction: column;
    gap: 23px;
    
   
  }
  #right input{
    font-size: 17px;
    border: 1px solid black;
    padding: 6px 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0, 0, 0.5) ;
  outline: none;
  background-color: rgb(237, 236, 235);
  }
  #btn{
    background-color:rgb(51, 172, 219);
    color: white;
    font-weight: 400;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin-top: 22px;
  }